<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	
<mapper namespace="userSQL">
  <select id="checkLogin" parameterType="java.util.Map" resultType="user">
    select * from user_table where user_id = #{email} and user_pwd = #{pwd}
  </select>
  	
  <select id="findEmailAddress" parameterType="String" resultType="String">
		select user_id from user_table where hp = #{phone}
	</select>
	

	<update id="findPwCheck" parameterType="java.util.Map">
		update user_table set user_pwd = #{pwd} where hp=#{hp} and user_id=#{user_id}
	</update>
	
	<select id="isExistUser" parameterType="java.util.Map" resultType="int">
		select count(*) from user_table where hp=#{hp} and user_id=#{user_id}
	</select>
	
	<insert id="addaddress" parameterType="useraddress">
		insert into address(address_id,user_id,name,hp,zipcode,addr,addr_detail,flag)
		values(address_seq.nextval,#{user_id},#{name},#{hp},#{zipcode},#{addr},#{addr_detail},#{flag})
	</insert>
	
	<update id="updateflag" parameterType="useraddress">
		update address set flag=0 where user_id=#{user_id}
	</update>
	
	<select id="getUserInfo" parameterType="String" resultType="user">
		select * from user_table where user_id=#{user_id}
	</select>
	<!-- 닉네임 중복체크-->
	<select id="checkNick" parameterType="String" resultType="int">
	 select count(*) from user_table where nickname=#{nickname}
	</select>
	
	<!-- 휴대전화로 가입 여부 조회 -->
	<select id="signUpCheck" parameterType="String" resultType="int">
	 select count(*) from user_table where hp=#{hp}
	</select>
	<!-- 이메일 회원가입 -->
	<insert id="signUpWrite" parameterType="user">
		insert into user_table values(#{user_id},#{user_name},#{nickname},#{user_pwd},#{hp},#{shoesize},#{sms_allow},#{email_allow},0,1,'이메일',sysdate)
	</insert>
	
	<!-- 회원정보수정 -->
	<update id="update" parameterType="user">
		update user_table set user_name = #{user_name}
						,nickname = #{nickname}
						,user_pwd = #{user_pwd}
						,hp = #{hp}
						,shoesize = #{shoesize}
						,sms_allow = #{sms_allow}
						,email_allow = #{email_allow}
						,profile_img = #{profile_img}
	</update>
</mapper>