<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="admin.bean.AdminDTO" alias="admin"/>
		<typeAlias type="admin.bean.AdminQnADTO" alias="adminqna"/>
		<typeAlias type="user.bean.UserDTO" alias="user"/>
	</typeAliases>
</configuration>
