<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="shopSQL">
	<select id="getimage" parameterType="int" resultType="productImg"> 
	  select * from pro_image where product_id = ${product_id}
	</select>

	<select id="getproduct" parameterType="int" resultType="product"> 
	  select * from product where product_id = ${product_id}
	</select>
	
	<select id="getSellList" parameterType="int" resultType="sellhistory">
		select * from sell_history where product_id=${product_id} and status1='입찰중'
	</select>
	
	<select id="getSellDTO" parameterType="java.util.Map" resultType="sellhistory">
		select * from (select * from sell_history order by sell_price) 
		where product_id=${product_id} and size_type=${size} and status1='입찰중' and <![CDATA[rownum <= 1 ]]>
	</select>
	
	<select id="getBuyDTO" parameterType="java.util.Map" resultType="buyhistory">
		select * from (select * from buy_history order by buy_price desc) 
		where product_id=${product_id} and size_type=${size} and status1='입찰중' and <![CDATA[rownum <= 1 ]]>
	</select>
	
	<!-- 기본배송지 -->
	<select id="getDefalutAddress" parameterType="String" resultType="userAddress">
		select * from address where user_id=#{user_id} and flag=1
	</select>
	
	<select id="getAddrList" parameterType="String" resultType="userAddress">
		select * from address where user_id=#{user_id} order by flag desc
	</select>
  
	<select id="scrollProductList" parameterType="java.util.Map" resultType="product">
		<!-- - 상품 4개씩 -->
		<!-- select * from (
			select rownum rn, tt.* from (
				select * from product where release_date is not null order by release_date desc)tt)
				where <![CDATA[rn>=${startNum} and rn<=${endNum} ]]> order by product_id -->
				
				
		select aa.rn, aa.product_id, aa.brand, aa.collection, aa.category,
		aa.eng_name, aa.kor_name, aa.gender, aa.release_date, aa.release_price,
		aa.model_number, aa.color, aa.post_status, aa.regdate, 
		count(lp.product_id) as cnt
		from (
		    select rownum rn, tt.* from (
		        select * from product where release_date is not null order by release_date desc
		    ) tt
		) aa
		left join like_pro lp on lp.product_id like aa.product_id
		where <![CDATA[aa.rn>=${startNum} and aa.rn<=${endNum} ]]>
		group by aa.rn, aa.product_id, aa.brand, aa.collection, aa.category,
		aa.eng_name, aa.kor_name, aa.gender, aa.release_date, aa.release_price,
		aa.model_number, aa.color, aa.post_status, aa.regdate
		order by aa.product_id
	</select>
  	
	<select id="scrollProductImg" parameterType="java.util.Map" resultType="productImg">
  		<!-- 이미지 -->
  		select * from pro_image where product_id in (select product_id from (
         select ROWNUM rn, tt.* from (
            select * from product where release_date is not null order by release_date desc)tt)
          where <![CDATA[rn>=${startNum} and rn<=${endNum} ]]>) order by product_id
  </select>
  
  <select id="getchart" parameterType="int" resultType="marketprice">
  	select * from market_price where product_id=${product_id} order by signing_date
  </select>
	
	<select id="getbuyhistory" parameterType="Int" resultType="Int">
		select min(buy_price) from buy_history where product_id=${product_id} and status1='입찰중'
	</select>
	<select id="getsellhistory" parameterType="Int" resultType="Int">
		select max(sell_price) from sell_history where product_id=${product_id} and status1='입찰중'
	</select>
	<select id="getsigningdateprice" parameterType="Int" resultType="marketprice">
		select * from (select * from market_price where product_id=${product_id} order by signing_date desc) where <![CDATA[rownum <= 1 ]]>
	</select>
	<select id="getlikeproduct" parameterType="Int" resultType="Int">
		select count(*) from like_pro where product_id = ${product_id}
	</select>
</mapper>