<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="mainSQL">
	<select id="getProductList" parameterType="java.util.Map" resultType="product">
  		<!-- - 상품 4개씩 -->
  		select * from (
         select rownum rn, tt.* from (
            select * from product where release_date is not null and post_status='판매중' order by release_date desc)tt)
           where <![CDATA[rn>=${startNum} and rn<=${endNum} ]]> order by product_id
  	</select>
  	
	<select id="getProductImg" parameterType="java.util.Map" resultType="productImg">
  		<!-- 이미지 -->
  		select * from pro_image where product_id in (select product_id from (
         select ROWNUM rn, tt.* from (
            select * from product where release_date is not null and post_status='판매중' order by release_date desc)tt)
          where <![CDATA[rn>=${startNum} and rn<=${endNum} ]]>) order by product_id
  	</select>
</mapper>