<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="adminSQL">
	<insert id="test">
		INSERT INTO notice
			values(2, 'test', 'test', 'test', sysdate)
	</insert>
	
	<select id="getnoticeList" parameterType="java.util.Map" resultType="admin">
  		select * from 
  		(select rownum rn,tt.* from 
  		(select * from notice order by notice_id desc)tt) 
  		where <![CDATA[rn>=#{startNum} and rn<=#{endNum}]]>
  	</select>
	
</mapper>