<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="adminSQL">

	<select id="getnoticeList" parameterType="java.util.Map" resultType="admin">
		select * from 
		(select rownum rn,tt.* from 
		(select * from notice order by notice_id desc)tt) 
		where <![CDATA[rn>=#{startNum} and rn<=#{endNum}]]>
  	</select>
  	
  	<select id="getnoticeView" parameterType="String" resultType="admin">
  		select * from notice where notice_id=#{seq}
  	</select>
  	
  	<insert id="getnoticeWrite" parameterType="admin">
		insert into notice(notice_id,title,content,registrant,regdate)
		values(notice_seq.nextval,#{title},#{content},#{registrant},sysdate)
  	</insert>
  	
  	<select id="getTotalA" resultType="Integer">
		select count(*) from notice
  	</select>
  	
  	<delete id="noticeDelete" parameterType="String">
  		delete notice where notice_id = #{seq}
  	</delete>
  	
  	<select id="getnoticeUpdate" parameterType="String" resultType="admin">
  		select * from notice where notice_id=#{seq}
  	</select>
  	
	<update id="addnoticeUpdate" parameterType="admin">
		update notice set title=#{title}, content=#{content} where notice_id=#{notice_id}
	</update>
  	<insert id="getnoticeQnAWrite" parameterType="adminQna">
		insert into qna(qna_id,category,title,content,registrant,regdate)
		values(qna_seq.nextval,#{category},#{title},#{content},#{registrant},sysdate)
  	</insert>
  	
  	<select id="getnoticeQnAList" parameterType="java.util.Map" resultType="adminQna">
		select * from 
		(select rownum rn,tt.* from 
		(select * from qna order by qna_id desc)tt) 
		where <![CDATA[rn>=#{startNum} and rn<=#{endNum}]]>
  	</select>
  	
  	<select id="getTotalA1" resultType="Integer">
  		select count(*) from qna
  	</select>
  	
  	<select id="getnoticeQnAListsearch" parameterType="java.util.Map" resultType="adminQna">
		<![CDATA[
		select * from 
		(select rownum rn,tt.* from 
		(select * from qna where category like '%'||#{category}||'%' order by qna_id desc)tt) 
		where rn>=#{startNum} and rn<=#{endNum}]]>
  	</select>
  	
  	<select id="getTotalA2" parameterType="String" resultType="Integer">
  		select count(*) from qna where category like '%'||#{category}||'%'
  	</select>
	<select id="getnoticeQnAListsearch1" parameterType="java.util.Map" resultType="adminQna">
		select * from 
  		(select rownum rn,tt.* from 
  		(select * from qna order by qna_id desc)tt) 
  		where <![CDATA[rn>=#{startNum} and rn<=#{endNum}]]>
	</select>
	<select id="getnoticeQnAUpdate" parameterType="String" resultType="adminQna">
  		select * from qna where qna_id=#{seq}
  	</select>
  	<update id="addnoticeQnAUpdate" parameterType="adminQna">
  		update qna set category=#{category}, title=#{title}, content=#{content} where qna_id=#{qna_id}
  	</update>
  	<delete id="noticeqnaDelete" parameterType="String">
  		delete qna where qna_id = #{seq}
  	</delete>
  	<select id="getAllUserList" resultType="user">
  		select * from (select * from user_table where authority != 10 order by sign_up_date desc) where <![CDATA[rownum <= 4 ]]>
  	</select>
  	<select id="getUserCount" resultType="Integer">
  		select count(*) from user_table
  	</select>
  	<select id="getAllUserList2" resultType="user">
  		select * from user_table where authority=10
  	</select>
  	<select id="getAllUserList3" resultType="user">
  		select * from user_table where authority != 10 order by sign_up_date desc
  	</select>
  	<delete id="deleteThisUser" parameterType="String">
  		delete user_table where user_id=#{user_id}
  	</delete>
  	<select id="getsearchUserList" parameterType="String" resultType="user">
  		select * from user_table where user_id like '%'||#{keyword}||'%' or user_name like '%'||#{keyword}||'%' or nickname like '%'||#{keyword}||'%' or hp like '%'||#{keyword}||'%' or authority like '%'||#{keyword}||'%'
  	</select>
  	<select id="getSearchAdminCount" parameterType="String" resultType="Integer">
  		select count (*) from user_table where user_id like '%'||#{keyword}||'%' or user_name like '%'||#{keyword}||'%' or nickname like '%'||#{keyword}||'%' or hp like '%'||#{keyword}||'%' or authority like '%'||#{keyword}||'%'
  	</select>
  	<select id="getMemberList" resultType="user">
  	 select * from user_table where authority = '1'
  	</select>
  	<select id="getGoodMemberList" resultType="user">
  	 select * from user_table where authority = '5'
  	</select>
  	<select id="getGoodMemberCount" resultType="Integer">
  		select count (*) from user_table where authority = '5'
  	</select>
  	<select id="getMemberCount" resultType="Integer">
  		select count (*) from user_table where authority = '1'
  	</select>
  	<select id="getAllProList" resultType="product">
	  	select * from (select * from product p
		left join pro_image pi on pi.product_id like p.product_id
		order by regdate desc) where <![CDATA[rownum <= 5 ]]>
  	</select>
  	<select id="getAllProList2" resultType="product">
	  	select * from product p
		left join pro_image pi on pi.product_id like p.product_id
		order by regdate desc
  	</select>
  	<select id="getImg" parameterType="Integer" resultType="productImg">
  		select * from pro_image where product_id = ${product_id}
  	</select>
  	<select id="getProCount" resultType="Integer">
  		select count (*) from product p
		left join pro_image pi on pi.product_id like p.product_id
		order by regdate desc
  	</select>
  	<delete id="deleteThisPro" parameterType="String">
		delete product where product_id= #{product_id}
  	</delete>
  	<select id="getBuy_count" resultType="Integer">
  		select count (*) from product where post_status='판매중'
  	</select>
  	<select id="getBuystop_count" resultType="Integer">
  		select count (*) from product where post_status='판매안함'
  	</select>
  	<select id="getAllProList3" parameterType="String" resultType="product">
	  	select * from product p
		left join pro_image pi on pi.product_id like p.product_id
		where p.product_id like '%'||#{keyword}||'%' or p.brand like '%'||#{keyword}||'%' or p.collection like '%'||#{keyword}||'%' or p.category like '%'||#{keyword}||'%' or p.eng_name like '%'||#{keyword}||'%' or p.kor_name like '%'||#{keyword}||'%' or p.post_status like '%'||#{keyword}||'%'
		order by regdate desc
  	</select>
  	<select id="getSearchpro1" parameterType="String" resultType="Integer">
  		select count (*) from product p
		left join pro_image pi on pi.product_id like p.product_id
		where p.product_id like '%'||#{keyword}||'%' or p.brand like '%'||#{keyword}||'%' or p.collection like '%'||#{keyword}||'%' or p.category like '%'||#{keyword}||'%' or p.eng_name like '%'||#{keyword}||'%' or p.kor_name like '%'||#{keyword}||'%' or p.post_status like '%'||#{keyword}||'%'
		order by regdate desc
  	</select>
  	<select id="getsearchpro2" parameterType="String" resultType="Integer">
  		select count (*) from (select * from product p
		left join pro_image pi on pi.product_id like p.product_id
		where p.product_id like '%'||#{keyword}||'%' or p.brand like '%'||#{keyword}||'%' or p.collection like '%'||#{keyword}||'%' or p.category like '%'||#{keyword}||'%' or p.eng_name like '%'||#{keyword}||'%' or p.kor_name like '%'||#{keyword}||'%' or p.post_status like '%'||#{keyword}||'%'
		order by regdate desc) where post_status='판매중'
  	</select>
  	<select id="getsearchpro3" parameterType="String" resultType="Integer">
  		select count (*) from (select * from product p
		left join pro_image pi on pi.product_id like p.product_id
		where p.product_id like '%'||#{keyword}||'%' or p.brand like '%'||#{keyword}||'%' or p.collection like '%'||#{keyword}||'%' or p.category like '%'||#{keyword}||'%' or p.eng_name like '%'||#{keyword}||'%' or p.kor_name like '%'||#{keyword}||'%' or p.post_status like '%'||#{keyword}||'%'
		order by regdate desc) where post_status='판매안함'
  	</select>
  	
</mapper>









