<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="adminSQL">

	<select id="getnoticeList" parameterType="java.util.Map" resultType="admin">
		select * from 
		(select rownum rn,tt.* from 
		(select * from notice order by notice_id desc)tt) 
		where <![CDATA[rn>=#{startNum} and rn<=#{endNum}]]>
  	</select>
  	
  	<select id="getnoticeView" parameterType="String" resultType="admin">
  		select * from notice where notice_id=#{seq}
  	</select>
  	
  	<insert id="getnoticeWrite" parameterType="admin">
		insert into notice(notice_id,title,content,registrant,regdate)
		values(notice_seq.nextval,#{title},#{content},#{registrant},sysdate)
  	</insert>
  	
  	<select id="getTotalA" resultType="Integer">
		select count(*) from notice
  	</select>
  	
  	<delete id="noticeDelete" parameterType="String">
  		delete notice where notice_id = #{seq}
  	</delete>
  	
  	<select id="getnoticeUpdate" parameterType="String" resultType="admin">
  		select * from notice where notice_id=#{seq}
  	</select>
  	
	<update id="addnoticeUpdate" parameterType="admin">
		update notice set title=#{title}, content=#{content} where notice_id=#{notice_id}
	</update>
  	<insert id="getnoticeQnAWrite" parameterType="adminQna">
		insert into qna(qna_id,category,title,content,registrant,regdate)
		values(qna_seq.nextval,#{category},#{title},#{content},#{registrant},sysdate)
  	</insert>
  	
  	<select id="getnoticeQnAList" parameterType="java.util.Map" resultType="adminQna">
		select * from 
		(select rownum rn,tt.* from 
		(select * from qna order by qna_id desc)tt) 
		where <![CDATA[rn>=#{startNum} and rn<=#{endNum}]]>
  	</select>
  	
  	<select id="getTotalA1" resultType="Integer">
  		select count(*) from qna
  	</select>
  	
  	<select id="getnoticeQnAListsearch" parameterType="java.util.Map" resultType="adminQna">
		<![CDATA[
		select * from 
		(select rownum rn,tt.* from 
		(select * from qna where category like '%'||#{category}||'%' order by qna_id desc)tt) 
		where rn>=#{startNum} and rn<=#{endNum}]]>
  	</select>
  	
  	<select id="getTotalA2" parameterType="String" resultType="Integer">
  		select count(*) from qna where category like '%'||#{category}||'%'
  	</select>
	<select id="getnoticeQnAListsearch1" parameterType="java.util.Map" resultType="adminQna">
		select * from 
  		(select rownum rn,tt.* from 
  		(select * from qna order by qna_id desc)tt) 
  		where <![CDATA[rn>=#{startNum} and rn<=#{endNum}]]>
	</select>
	<select id="getnoticeQnAUpdate" parameterType="String" resultType="adminQna">
  		select * from qna where qna_id=#{seq}
  	</select>
  	<update id="addnoticeQnAUpdate" parameterType="adminQna">
  		update qna set category=#{category}, title=#{title}, content=#{content} where qna_id=#{qna_id}
  	</update>
  	<delete id="noticeqnaDelete" parameterType="String">
  		delete qna where qna_id = #{seq}
  	</delete>
  	<select id="getAllUserList" resultType="user">
  		select * from (select * from user_table order by authority desc, sign_up_date desc) where <![CDATA[rownum <= 5 ]]>
  	</select>
  	<select id="getUserCount" resultType="Integer">
  		select count(*) from user_table
  	</select>
</mapper>









